<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
        <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    </head>
    <body>
        <div class="container mt-4">
            <h2 class="text-center ">Function based view crud project</h2>

            {% block content %}
            
            {% endblock content %}
        
        </div>

        
        <script src="{% static 'enroll/js/bootstrap.js' %}" ></script>
        <script src="{% static 'enroll/js/jquery.js' %}" ></script>
        <script src="{% static 'enroll/js/popper.js' %}" ></script>
        {% block script %}{% endblock script %}k
    </body>
</html>